.calendarWrapper {
    display: flex;
    width: 670px;
    height: 720px;
}

.timeColumn {
    width: 50px;
}

.eventsColumn {
    width: 620px;
    height: 100%;
    overflow: hidden;
    flex: 1;
    position: relative;
    border-bottom: 1px solid rgb(245, 245, 245); /*This is a small hack ¯\_(ツ)_/¯*/
}
