.timeSlotWrapper {
    height: 30px;
    position: relative;
    font-size: 14px;
    color: rgb(101, 101, 101);
}

.timeLabels {
    position: absolute;
    top: -8px;
    right: 15px;
}

.smallLabel {
    font-size: 10px;
    top: -5px;
    right: 15px;
}
