.eventWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
}

.eventCard {
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 245);
    color: rgb(71, 178, 141);
    position: relative;
}

.eventSliver {
    width: 5px;
    height: 100%;
    background-color: rgb(71, 178, 141);
    margin-right: 10px;
    display: inline-block;
}

.eventTextWrapper {
    display: inline-block;
    font-size: 12px;
    position: absolute;
    top: 10px;
}

.eventText {
    font-weight: bold;
}

.eventSubText {
    color: rgb(186, 186, 193);
}
